<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="css/style.css">
<body>
    <div class="container">
        <%- include('./partials/nav.ejs'); %>

        <section class="landing-container">
            <img class="landing" src="images/landing.png" alt="">
            <h1>Fuel for the future</h1>
            <p>Get your quote today</p>
        </section>
    </div>

    <div class="white-container">
        <div class="container">
            <img class="scroll" src="images/scroll.png" alt="">
            <h2>How does it work?</h2>
        </div>
    </div>

    <div class="blue-container">
        <div class="container">
            <ul>
                <li>
                    <img class="info-icon" src="images/avatarwhite.gif" alt="Profile icon">
                    <h1>Create an Account</h1>
                    <p>By having an account you can view your rates and your purchase history  </p>
                </li>

                <li>
                    <img class="info-icon" src="images/edit.gif" alt="Edit" icon">
                    <h1>Request your quote</h1>
                    <p>Request how many gallons of fuel and receive a quote in real time  </p>
                </li>

                <li>
                    <img class="info-icon" src="images/check.gif" alt="Check icon">
                    <h1>Confirm Quote</h1>
                    <p>Review your given quote and confirm/submit</p>
                </li>
            </ul>
        </div>
    </div>

    <div>

    </div>

    <div class="white-container">
        <div class="container">
            <h2>Create an account</h2>
            <a class="cta" href="register.html">Get Started</a>
        </div>
    </div>


    <div class="dark-container">
        <footer>
            <div class="container">
                <img class="footer-logo" src="images/logofull.png" alt="">

                <div class="footer-nav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
        </footer>
    </div>

    <div class="dark-container">
        <div class="container">
            <div>
                <p class="copyright">© 2020 MSR Fuel All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>
</html>

<script src="nav.js"></script>