<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="css/style.css">
<body>
    <div class="container">
        <%- include('./partials/nav.ejs'); %>
    </div>

    <div class="wrapper">
        <div class="title">
            <h1>Profile</h1>
        </div>

        <div class="form">
            <div class="input_field">
                <label for="fullname">Full Name</label>
                <input type="text"class="input" maxlength="50" placeholder="Enter Name" name="fullname" id="fullname" required>
            </div>
            <div class="input_field">
                <label for="address1">Address 1</label>
                <input type="text" class="input" maxlength="100" placeholder="Enter Address 1" name="address1" id="address1" required>
            </div>
            <div class="input_field">
                <label for="address2">Address 2</label>
                <input type="text" class="input" maxlength="100" placeholder="Enter Address 2" name="address2" id="address2" required>
            </div>
            <div class="input_field">
                <label for="city">City</label>
                <input type="text" class="input" maxlength="100" placeholder="Enter City" name="city" id="city" required>
            </div>
            <div class="input_field">
                <label>State</label>
                <div class="custom_select">
                    <select>
                        <option value="">Select</option>
                        <option value="Texas">TX</option>
                        <option value="Texas">Other States</option>
                        <!---<option value="">AL</option>
                        <option value="">AK</option>
                        <option value="">AZ</option>
                        <option value="">AR</option>--->
                        
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="zipcode">Zipcode</label>
                <input type="text" class="input" maxlength="9" minlength="5" placeholder="Enter Zipcode" name="zipcode" id="zipcode" required>
            </div>
            <div class="input_field terms">
                <label class="check">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>Agreed to terms and conditions</p>
            </div>
            <div class="input_field">
                <a class="btn" href="#">Submit</a>
                <!---<input type="submit" value="Submit" class="btn">--->
            </div>
        </div>
    </div>


    <!--footer-->
    <div class="dark-container">
        <footer>
            <div class="container">
                <img class="footer-logo" src="images/logofull.png" alt="">

                <div class="footer-nav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
        </footer>
    </div>

    <div class="dark-container">
        <div class="container">
            <div>
                <p class="copyright">© 2020 MSR Fuel All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>
</html>

<script src="nav.js"></script>