<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <link rel="stylesheet" href="css/style.css">
<body>
    <div class="container">
        <%- include('./partials/nav.ejs'); %>
    </div>


    <div class="blue-container2">
        <div class="container">
            <h1 class="h1-quote">Get your quote</h1>
            
            <form action="/add-quote" method="POST">
                <div class="full-quote">
                    <div class="get-quote">
                        <label for="quantity">How many gallons?</label>
                        <input type="number" id="quantity" name="quantity">
            
                        <label for="address">Delivery Address</label> 
                        <h3>1234 Fake Street, Houston TX</h3>
                        <input type="hidden" name="address" value="1234 Fake Street, Houston TX">
            
                        <label for="delivery">Delivery Date</label>
                        <input type="date" id="delivery" name="delivery">
            
                        
                    </div>
        
        
                    <div class="cost">
                        <p>Suggested Price/Gallon</p>
                        <h5>$8/Gallon</h5>
        
                        <p>Total Amount</p>
                        <h5>$32.00</h5>
                    </div>
                </div>
                <input class="confirm" type="submit" value="Confirm Quote">
            </form>
        </div>
    </div>







    <!--footer-->
    <div class="dark-container">
        <footer>
            <div class="container">
                <img class="footer-logo" src="images/logofull.png" alt="">

                <div class="footer-nav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
        </footer>
    </div>

    <div class="dark-container">
        <div class="container">
            <div>
                <p class="copyright">© 2020 MSR Fuel All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>
</html>

<script src="nav.js"></script>