<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <link href="css/tablestyle.css" rel="stylesheet" type ="text/css">
<body>
    <div class="container">
        <%- include('./partials/nav.ejs'); %>
    </div>


        <h1>Order History</h1>
    
    <div class = "container">
    <table>
        <tr>
            <th>Quote ID</th>
            <th>Order Date</th>
            <th>Gallons Requested</th>
            <th>Price per Gallon</th>
            <th>Delivery Date</th>
            <th>Delivery Address</th>
            <th>Total Cost</th>
            <th>Reorder</th>
        </tr>
        <tr>
            <td>1257033</td>
            <td>12/21/1991</td>
            <td>1.5</td>
            <td>1.56</td>
            <td>12/22/2012</td>
            <td>123 Fake St. Houston TX 77087</td>
            <td>120.00</td>
            <td><a class = "reorder" href = "#">Click to Reorder</a></td>
        </tr>
        <tr>
            <td>1257069</td>

            <td>2/31/1991</td>
            <td>100</td>
            <td>0.10</td>
            <td>2/32/1991</td>
            <td>123 Fake St. Houston TX 77087</td>
            <td>10.00</td>
            <td><a class = "reorder" href = "#">Click to Reorder</a></td>
        </tr>
        <tr>
            <td>1257069</td>

            <td>2/31/1991</td>
            <td>100</td>
            <td>0.10</td>
            <td>2/32/1991</td>
            <td>123 Fake St. Houston TX 77087</td>
            <td>10.00</td>
            <td><a class = "reorder" href = "#">Click to Reorder</a></td>
        </tr>
        <tr>
            <td>1257069</td>

            <td>2/31/1991</td>
            <td>100</td>
            <td>0.10</td>
            <td>2/32/1991</td>
            <td>123 Fake St. Houston TX 77087</td>
            <td>10.00</td>
            <td><a  class = "reorder"href = "#">Click to Reorder</a></td>
        </tr>
        <tr>
            <td>1257069</td>

            <td>2/31/1991</td>
            <td>100</td>
            <td>0.10</td>
            <td>2/32/1991</td>
            <td>123 Fake St. Houston TX 77087</td>
            <td>10.00</td>
            <td><a  class = "reorder"href = "#">Click to Reorder</a></td>
        </tr>
    </table>
</div>



<script src="nav.js"></script>